<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390404176377-rku307arnumvmgrk0cqfprmehj8tq6u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390404176377-rku307arnumvmgrk0cqfprmehj8tq6u9</string>
	<key>API_KEY</key>
	<string>AIzaSyAhJPkQ9wtXnKdIDqZPSInoBZPtZZ7URwE</string>
	<key>GCM_SENDER_ID</key>
	<string>390404176377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eminemrak.Artikulasyon</string>
	<key>PROJECT_ID</key>
	<string>artikulasyon-f2dd4</string>
	<key>STORAGE_BUCKET</key>
	<string>artikulasyon-f2dd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390404176377:ios:a10ff6679eb596a40d2528</string>
</dict>
</plist>